body {
	font-family: 'Sunflower';
	font-size: 1.15em;
	text-align: center;
	background: #f6f6f6;
}

button {
	height: 30px;
	width: 100px;
	background-color: #3d86ff;
	color: white;
	text-transform: uppercase;
	border: none;
}

#display_page_container {
	display: inline-block;
}

h2 {
	margin: 2.8em 0 0.5em 0;
	text-transform: uppercase;
	letter-spacing: 10px;
}

#home_page_container {
}

.input_form_section {
	margin-top: 2em;
	margin-bottom: 2em;
}

.left-right_spacing {
	height: 100%;
	width: 25em;
	float: left;
	background-color: chartreuse;
}

#partition_table {
	
}

#roster_container {
	display: block;
	width: 50em;
	float: left;
	border-left: .1em, dark-gray, solid;
	border-right: .1em, dark-gray, solid;
}

#roster_partition_container {
}

.tooltip {
	color: rgba(104, 23, 23, .85);
	border-bottom: .05em dotted;
}

.tooltip:hover {
	color: black;
	border-bottom: none;
}

