* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Sunflower';
	font-size: 1.15em;
	text-align: center;
	background: #F6F6F6;
}

button.misc_button {
	background-color: #3D86FF;
	color: white;
	text-transform: uppercase;
	padding: 1em;
	border: #2D76EF outset;
	border-radius: .15em;
	margin: .5em;
	min-width: 8em;
	max-width: 10em;
}

button.misc_button:active {
	
}

.misc_button button:hover {
	background-color: #1D66DF;
}

button.misc_button > a:visited {
	color: white;
}

button.submit {
	height: 1.875em;
	min-width: 6.250em;
	background-color: #3d86ff;
	color: white;
	text-transform: uppercase;
	border: none;
}

#bulk_table tr:nth-child(odd) {
	background-color: rgba(218, 218, 218, .65);
}

#bulk_table tr:nth-child(even) {
	background-color: rgba(230, 230, 230, .65);
}

#bulk_table tr:hover {
	background-color: rgba(214, 212, 212, .8);
}

#display_page_container {
	display: flex;
	flex-direction: row;
}

header, h2 {
	margin: 2.8em 0 0.5em 0;
	text-transform: uppercase;
	letter-spacing: .625em;
}

#home_page_container {
}

.input_form_section {
	margin-top: 2em;
	margin-bottom: 2em;
}

#options_container {
	flex: 1;
	justify-content: flex-start;
	position: sticky;
	height: 100%;
	min-width: 7em;
	max-width: 10em;
	display: inline-block;
	background-color: #E4E4E4;
	border-right: .1em solid #B7B7B7;
	padding: .5em .05em .75em .05em;
}

#partition_table tr:nth-child(odd) {
	background-color: rgba(225, 179, 229, .65);
}

#partition_table tr:nth-child(even) {
	background-color: rgba(246, 194, 252, .65);
}

#partition_table tr:hover {
	background-color: rgba(227, 150, 235, .8);
}

#roster_bulk_container {
	border-left: .1em solid #B7B7B7;
	border-right: .1em solid #B7B7B7;
	text-align: center;
	padding: .1em;
}

#roster_container {
	flex: 3;
	justify-content: space-around;
	display: inline-block;
	margin: 1em 10% 1em 15%;
	max-width: 50%;
}

#roster_partition_container {
	border-left: .1em solid #B7B7B7;
	border-right: .1em solid #B7B7B7;
	text-align: center;
	padding: .1em;
}

table {
	border-collapse: collapse;
	width: 100%;
}

td, input[type=checkbox] {
	zoom: 1.25;
}

td {
	padding: .15em .1em .15em .1em;
	margin: .1em;
}

.tooltip {
	color: rgba(104, 23, 23, .85);
	border-bottom: .05em dotted;
}

.tooltip:hover {
	color: black;
	border-bottom: none;
}

